<footer>
    <div>
        <img class="logo" src="../../assets/img/logo_white.png" alt="" (click)="scrollToTop()">
        <div [ngStyle]="{'color': '#FFFCF3', 'font-family': 'poppins'}">&copy; Robert Hahn 2023</div>
    </div>
    <div class="links">

        <a href="https://github.com/haubua" target="_blank">
            <img src="../../assets/img/githubButton.png" alt="" >
        </a>
        
        <img src="../../assets/img/emailButton.png" alt="">
        <a href="https://www.linkedin.com/in/robert-hahn-4a20a9267/" target="_blank">
            <img src="../../assets/img/linkedinButton.png" alt="">
        </a>

    </div>
</footer>