
<div id="aboutMe" class="aboutContainer">
    <div class="aboutLeftSection">
        <h2>About me</h2>
        <span>I am a frontend developer from near vienna.
            <br>I am a front-end developer from the vicinity of Vienna.

            The logic behind programming fascinates me the most because everything in frontend development can be
            logically explained and put into practice. I am highly patient and love to work on my projects until every
            bug is fixed.
            <br>
            <br>
            I enjoy traveling and participating in activities, such as tennis, hiking, snowboarding, and wakeboarding in the
            summer, as well as going to the gym.
            <br>
            <br>
            I am interested in a part-time or full-time career and am excited to apply my programming knowledge. 
            <br>
            <br>
            Please get in touch with me if you think I'd be a good fit for what you are looking for.</span>
        <div class="buttonContainer">
            <button>Contact me!
            </button>
        </div>

    </div>

    <img class="portrait" src="../../assets/img/rob.jpg" alt="portrait">
</div>