.left {
    display: flex;
    flex-direction: row;

    @media(max-width: 950px) {
        align-items: flex-start !important;
        text-align: start;
    }
}

.right {
    display: flex;
    flex-direction: row-reverse;

    @media(max-width: 950px) {
        align-items: flex-end !important;
        text-align: end;
    }
}

.projects {
    margin-left: 17vw;
    margin-right: 17vw;
    margin-top: 10vh;
    flex-direction: column;

    @media (max-width: 1650px) {
        margin-top: 2vh;
    }

    @media (max-width: 1100px) {
        margin-left: 12vw;
        margin-right: 12vw;
    }

    @media (max-width: 600px) {
        margin-left: 8vw;
        margin-right: 8vw;
    }

    @media (max-width: 400px) {
        margin-left: 4vw;
        margin-right: 4vw;
    }
}

.img {
    width: 520px;
    height: 310px;
    object-fit: cover;

    @media (max-width: 1600px) {
        width: 482px;
    }

    @media (max-width: 1400px) {
        width: 434px;
        height: 269px;
        object-fit: contain;
    }

    @media (max-width: 1300px) {
        width: 376px;
        height: 217px;
    }

    @media (max-width: 490px) {
        width: 301px;
        height: 173px;
    }

    @media (max-width: 370px) {
        width: 262px;
        height: 151px;
    }

    @media (max-width: 325px) {
        width: 218px;
        height: 125px;
    }
}

.projects-number {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: -25px;

    @media(max-width: 950px) {
        margin-bottom: 25px;
    }

    @media (max-width: 600px) {
        font-size: 42px;
    }
}

.flexStart {
    justify-content: flex-start;
}

.showContainerMobile {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    min-height: 400px !important;
    height: 400px !important;
    filter: grayscale(0%) !important;

    @media(max-width: 950px) {
        flex-direction: column !important;
        height: 600px !important;
    }

    @media (max-width: 420px) {
        height: 610px !important;
    }

    .description {
        display: flex !important;
    }

    .arrowCircleLeft {
        display: unset !important;
        animation: arrowLeftAnimation 180ms ease-in !important;
        animation-fill-mode: forwards !important;
    }

    .arrowCircleRight {
        display: unset !important;
        animation: arrowRightAnimation 180ms ease-in !important;
        animation-fill-mode: forwards !important;
    }

    .imgContainerLeft::before {
        display: unset !important;
    }

    .imgContainerRight::before {
        display: unset !important;
    }

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 400px;
    height: 400px;
    filter: grayscale(100%);


    @media(max-width: 1650px) {
        height: 500px;
    }

    @media(max-width: 950px) {
        flex-direction: column;
        height: 581px;
    }

    @media (max-width: 360px) {
        height: 584px;
    }

    .imgContainerLeft {
        position: relative;
    }

    .imgContainerLeft::before {
        display: none;
        position: absolute;
        bottom: -6%;
        right: -4%;
        width: 99%;
        height: 98%;
        border: 4px solid black;
        content: '';

        @media (max-width: 600px) {
            width: 98%;
            height: 96%;
            bottom: -2%;
            right: -2%;
        }

        @media (max-width: 490px) {
            width: 98%;
            height: 96%;
            bottom: -3%;
            right: -3%;
        }

        @media (max-width: 370px) {
            width: 98%;
            height: 96%;
            bottom: -5%;
            right: -3%;
        }
    }

    .imgContainerRight {
        position: relative;
    }

    .imgContainerRight::before {
        display: none;
        position: absolute;
        bottom: -6%;
        right: 3%;
        width: 99%;
        height: 98%;
        border: 4px solid black;
        content: "";

        @media (max-width: 600px) {
            width: 98%;
            height: 96%;
            bottom: -2%;
            right: 2%;
        }

        @media (max-width: 490px) {
            width: 98%;
            height: 96%;
            bottom: -3%;
            right: 3%;
        }

        @media (max-width: 370px) {
            width: 98%;
            height: 96%;
            bottom: -5%;
            right: 3%;
        }
    }

    .arrowCircleLeft {
        display: none;
        height: 90px;
        width: 90px;
        position: absolute;
        top: 133px;
        right: -65px;
        border-radius: 100%;

        @media (max-width: 1400px) {
            width: 70px;
            height: 70px;
            right: -51px;
        }

        @media (max-width: 1300px) {
            top: 85px;
        }

        @media (max-width: 600px) {
            width: 55px;
            height: 55px;
            right: -33px;
        }

        @media (max-width: 490px) {
            right: -38px;
            top: 65px;
        }


        @media (max-width: 325px) {
            width: 50px;
            height: 50px;
            right: -28px;
            top: 37px;
        }
    }

    .arrowCircleRight {
        display: none;
        height: 90px;
        width: 90px;
        position: absolute;
        top: 133px;
        left: -61px;
        border-radius: 100%;

        @media (max-width: 1400px) {
            width: 70px;
            height: 70px;
            left: -51px;
        }

        @media (max-width: 1300px) {
            top: 85px;
        }

        @media (max-width: 600px) {
            width: 55px;
            height: 55px;
            left: -33px;
        }

        @media (max-width: 490px) {
            left: -38px;
            top: 65px;
        }

        @media (max-width: 325px) {
            width: 50px;
            height: 50px;
            right: -28px;
            top: 37px;
        }
    }

    &:hover {
        filter: grayscale(0%);

        .description {
            display: flex;
        }

        .arrowCircleLeft {
            display: unset;
            animation: arrowLeftAnimation 180ms ease-in;
            animation-fill-mode: forwards;
        }

        .arrowCircleRight {
            display: unset;
            animation: arrowRightAnimation 180ms ease-in;
            animation-fill-mode: forwards;
        }

        .imgContainerLeft::before {
            display: unset;
        }

        .imgContainerRight::before {
            display: unset;
        }
    }



    .description {
        display: none;
        flex-direction: column;
        font-size: 48px;
        justify-content: center;
        animation: descriptionOpacity 225ms ease-in-out;
        z-index: -2;
        overflow: hidden;

        h3 {
            margin-bottom: 25px;

            @media (max-width: 1460px) {
                font-size: 41px;
            }

            @media (max-width: 400px) {
                font-size: 40px;
            }

            @media (max-width: 325px) {
                font-size: 32px;
            }
        }

        div {
            color: #13C197;
            font-weight: 600;
            font-family: 'Overpass';
            font-size: 26px;

            @media (max-width: 1460px) {
                font-size: 22px;
            }
        }

        span {
            display: flex;
            margin-top: 25px;
            font-size: 20px;
            font-weight: 500;
            font-family: 'Overpass';
            font-size: 18px;
            word-break: keep-all;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            width: 380px;

            @media (max-width: 1440px) {
                width: 100%;
            }

            @media(max-width: 950px) {
                width: 300px;
            }

            @media(max-width: 400px) {
                width: 280px;
            }

            @media (max-width: 325px) {
                width: 241px;
            }
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    button {
        margin-top: 40px;
        font-size: 23px;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 12px;
        padding-bottom: 12px;
        border: 3px solid black;
        font-family: 'overpass';
        font-weight: 400;
        cursor: pointer;
        transition: 150ms ease-in-out;

        @media (max-width: 1280px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        @media (max-width: 400px) {
            padding-left: 16px;
            padding-right: 16px;
            font-size: 20px;
        }

        &:hover {
            transition: 150ms ease-in-out;
            padding-left: 45px;
            padding-right: 45px;
            font-weight: 800;

            @media (max-width: 1280px) {
                padding-left: 23px;
                padding-right: 23px;
            }
        }
    }
}

@keyframes arrowLeftAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-130deg);
    }
}

@keyframes arrowRightAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(130deg);
    }
}

.marginLeft {
    margin-left: 140px;

    @media (max-width: 1600px) {
        margin-left: 70px;
    }

    @media(max-width: 950px) {
        margin-left: 0px;
        display: flex;
        align-items: flex-end;
        text-align: end;
    }
}

.marginRight {
    margin-right: 140px;

    @media (max-width: 1600px) {
        margin-right: 70px;
    }

    @media(max-width: 950px) {
        margin-right: 0px;
        display: flex;
        align-items: flex-start;
        text-align: start;
    }
}

@keyframes descriptionOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.buttonLeft {
    animation: easeInLeftButton 400ms ease-in-out;
    z-index: -2;

    @media (max-width: 950px) {
        justify-content: flex-end !important;
    }

}

@keyframes easeInLeftButton {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.buttonRight {
    animation: easeInRightButton 400ms ease-in-out;
    z-index: -2;

    @media (max-width: 950px) {
        justify-content: flex-start !important;
    }
}

@keyframes easeInRightButton {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}