// .slantedContainer {
//     height: 250px;
//     width: 100%;
//     position: relative;
//     z-index: 9;
//     margin-bottom: 0px;
//     background: linear-gradient(to bottom left, #F5F5F5 calc(50% - 2px), red calc(50% - 1px), red calc(50% + 1px), #000000 calc(50% + 2px)) no-repeat 0px 0px / 100vw 250px;
// }

.headline {
    // margin-bottom: 80px;
    display: flex;
    padding-left: 17vw;
    padding-right: 17vw;
    background: linear-gradient(to bottom left, #F5F5F5 calc(50% - 1px), #000000 calc(50% + 1px)) no-repeat 0px 0px / 100vw 250px;
}

h1 {
    position: relative;
    z-index: 10;
    
    font-size: 78px;
    font-weight: 800;
    margin-top: 196px;
    margin-bottom: -39px;
    color: #FFFCF3;
   
    // margin-top: 100px;
   
    // height: 300px;
    &:hover {
        color: #13C197;
    }
}

.contactMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 17vw;
    padding-right: 17vw;
    background-color: #000000;
    position: relative;
    height: 790px;
    z-index: 8;
   
    

    

    form {
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .firstRow {
        color: #13C197;
        font-size: 32px;
        font-weight: 700;
        font-family: 'overpass';
    }

    .secondRow {
        font-size: 23px;
        font-weight: 400;
        font-family: 'overpass';
        margin-top: 25px;
        color: #FFFCF3;
    }

    form {
        display: flex;
        align-items: center;
    }

    input {
        background-color: #000000;
        border: 4px solid transparent;
        border-bottom: 2px solid #FFFCF3;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 20px;
        width: 550px;
        font-size: 16px;
        font-weight: 400;
        color: #FFFCF3;
    }

    input:hover:not(:focus) {
        border: 4px solid #FFFCF3;
    }

    textarea {
        background-color: #000000;
        border: 4px solid transparent;
        border-bottom: 2px solid #FFFCF3;
        margin-top: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        width: 550px;
        color: #FFFCF3;
        resize: none;
    }

    textarea:hover:not(:focus) {
        border: 4px solid #FFFCF3;
    }

    button {
        border: 4px solid #FFFCF3;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 23px;
        cursor: pointer;
        background-color: #000000;
        color: #FFFCF3;
        width: fit-content;
        transition: 150ms ease-in-out;
        margin-top: 40px;
    }

    .buttonHover {
        &:hover {
            transition: 150ms ease-in-out;
            padding-left: 45px;
            padding-right: 45px;
            font-weight: 600;
        }
    }
    img {
        position: absolute;
        top: 700px;
        right: 17vw;
        cursor: pointer;
        height: 65px;
        width: 35px;
        transform-origin: bottom;
        transition: linear 250ms;

        &:hover {
            transform: scaleY(1.4);
        }

    }
}

@keyframes arrowAnimation {
    0% {
        height: 10px;
    }

    100% {
        height: 200px;
    }
}

::placeholder {
    opacity: 1;
    color: #FFFCF3;
    font-size: 16px;
    font-weight: 400;
}


input:focus {
    border: 2px solid #FFFCF3;
    ::placeholder {
        color: #000000;
    }
}

input:focus::placeholder {
        color: #000000;
}

textarea:focus::placeholder {
    color: #000000;

}

#yourName {
    display: none;
    font-size: 25px;
    color: #FFFCF3
}

#nameInput:focus-within>#yourName {
    display: flex;
    position: absolute;
    background-color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin-left: 22px;
    padding-left: 5px;
    padding-right: 5px;
    top: 8px;
}

#emailInput:focus-within>#yourEmail {
    display: flex;
    position: absolute;
    background-color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin-left: 22px;
    padding-left: 5px;
    padding-right: 5px;
    top: 8px;
}

#yourEmail {
    display: none;
    font-size: 25px;
    color: #FFFCF3
}

#messageInput:focus-within>#yourMessage {
    display: flex;
    position: absolute;
    background-color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin-left: 22px;
    padding-left: 5px;
    padding-right: 5px;
    top: 8px;
}

#yourMessage {
    display: none;
    font-size: 25px;
    color: #FFFCF3
}

// #nameInput:target-within
// outline: 4px solid white;
// }


.d-none {
    display: none !important;
}

.pwReset {
    position: absolute;
    height: 74px;
    width: 350px;
    background-color: black;
    color: white;
    border: 3px solid #F5F5F5;
    animation: fadeInY 1s ease 0s 1 normal forwards;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    font-size: 23px;
    font-weight: 400;
    z-index: 100;
}

.pwResetD-none {
    animation: fadeOutY 1s ease 0s 1 normal backwards;
}

@keyframes fadeOutY {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

    0% {
        transform: translateY(300%);
    }

    100% {
        transform: translateY(1000%);
    }
}

.opacity20 {
    opacity: 20%;
}



@keyframes fadeInY {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

    0% {
        transform: translateY(1000%);
    }

    100% {
        transform: translateY(300%);
    }
}
