
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 78px;
        font-weight: 800;
        
        &:hover {
            color: #13C197;
        }
    }
    span {
        font-family: 'Overpass';
        font-size: 23px;
        font-weight: 400;
        width: 480px;
    }
}

.arrow {
    display: flex;
    margin-left: 17vw; 
    margin-right: 17vw; 
    margin-top: 5vh; 
    height: 300px;
    align-items: center;
    justify-content: flex-start;
    img {
        margin-left: 70px;
        height: 200px; 
        transform: rotate(-90deg); 
        
    }
}

.arrowAnimation {
    animation: arrowAnimation 0.3s linear;
    animation-fill-mode: forwards;
}

@keyframes arrowAnimation {
    
    100% {
        transform: translateX(100px) translateY(130px) rotate(-90deg);
    }
}