
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 78px;
        font-weight: 800;
    }
    span {
        font-family: 'Overpass';
        font-size: 23px;
        font-weight: 400;
        width: 480px;
    }
}

.arrow {
    display: flex;
    margin-left: 17vw; 
    margin-right: 17vw; 
    margin-top: 15vh; 
    justify-content: flex-start;
    img {
        margin-left: 200px;
        height: 200px; 
        transform: rotate(-90deg); 
        
    }
}

