<div class="startContainer">
    <div [ngStyle]="{'display': 'flex', 'flex-direction': 'column', 'align-items': 'center'}">
        <h1>Frontend</h1>
        <h1>Developer</h1>
        <div [ngStyle]="{ 'display': 'flex', 'align-items': 'center'}">
            <div class="blackLine"></div><span class="name">Robert Hahn</span>
        </div>
    </div>

    <div class="startBottom">
        <span class="email">
            robert.hahn91@gmx.at
        </span>
        <div [ngStyle]="{'display': 'flex', 'flex-direction': 'column', 'align-items': 'center'}">
            <div class="arrowContainer">
                <img src="../../assets/img/arrow.png" class="arrow" alt="">
            </div>
            <span>Scroll</span>
            <span>Down</span>
        </div>
    </div>
</div>